<!doctype html>
<html lang="en">

<head th:replace="/fragments/head :: heads"></head>

<body>

    <nav th:replace="/fragments/nav :: nav-front"></nav>

    <div class="container-fluid mt-5">
        <!-- Example row of columns -->
        <div class="row">
            <div th:replace="/fragments/categories"></div>
            <div class="col"></div>
            <div class="col-7" th:utext="${page.content}"></div>
            <div class="col"> </div>

        </div>

        <hr>

    </div> <!-- /container -->


    <div th:replace="/fragments/footer"></div>

</body>

</html>